/Playground
/modulo9/.cache
/modulo9/dist
/modulo9-II/.cache
/modulo9-II/dist
/modulo12-BancaOnline/.cache
/modulo12-BancaOnline/dist
/modulo12-BancaOnline/node_modules
/modulo12-BancaOnline/server/node_modules